<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h1 class="text-center">List of surveys</h1>
      </div>
      <div class="card-body">
        <% @surveys.each do |survey| %>
          <div class="row">
            <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
              <%= render partial: "survey/card/survey", locals: { survey: survey } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>